[submodule "Submodules/facebook-ios-sdk"]
	path = Submodules/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "Submodules/OAuthConsumer"]
	path = Submodules/OAuthConsumer
	url = git@github.com:everdune/oauthconsumer.git
